@import 'colors';

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Roboto+Mono:400,400i,700,700i&display=swap');

// Font variables
$roboto-mono: 'Roboto Mono', monospace;
$lato: 'Lato', sans-serif;

h1 {
    color: $main;
    font-family: $roboto-mono;
}

.menu-items p {
    font-family: $roboto-mono;
}