.contact-container {
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 100%;
    grid-row-gap: 30px;

    .feedback-container {
        display: none;

        #successMessage {
            p {
                color: $main;
                font-weight: 700;
                font-size: 22px;
                text-transform: uppercase;
            }
        }
    }

    .form-container {
        font-family: $roboto-mono;
        margin-bottom: 50px;
        font-weight: 300;

        form {
            width: 100%;
            height: 100%;

            > div {
                margin-top: 40px;
                display: grid;
                grid-template: 1fr / 0.2fr 1fr;
                align-items: center;

                input {
                    font-family: $roboto-mono;
                    font-size: 16px;
                    padding-left: 5px;
                    width: 99%;
                    height: 25px;
                    background: none;
                    border: 1px solid $dark;
                    transition: all 0.3s ease;

                    &:focus {
                        outline: none;
                        border: 1px solid $main;
                        box-shadow: 0 0 3px $main;
                    }
                }
            }

            > div:nth-last-child(2) {
                grid-template: 0.2fr 1fr / 1fr;
                grid-row-gap: 10px;

                textarea {
                    font-family: $roboto-mono;
                    font-size: 16px;
                    height: 150px;
                    background: none;
                    border: 1px solid $dark;
                    transition: all 0.5s ease;
                    padding: 5px;

                    &:focus {
                        outline: none;
                        border: 1px solid $main;
                        box-shadow: 0 0 3px $main;
                    }
                }
            }

            > div:last-child {
                display: block;

                button {
                    font-family: $roboto-mono;
                    font-size: 18px;
                    font-weight: 300;
                    height: 40px;
                    width: 100%;
                    background: none;
                    border: 1px solid $dark;
                    color: $dark;
                    transition: all 0.5s ease;
                    outline: none;

                    &:hover {
                        color: white;
                        border: none;
                        background: $main;
                        border: 1px solid $main;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}