@import 'colors';

.experience-container {
    display: grid;
    grid-template: 0.5fr 1fr 1fr 1fr / 100%;
    grid-row-gap: 30px;

    .work-container {
        .job-container {
            margin: 30px auto;
            
            .period {
                color: $main;
                font-weight: 300;
            }

            .company {
                color: $main;
                font-weight: 700;
                
            }

            .jobtitle {
                color: $dark;
                margin-top: 5px;
                font-weight: 700;
            }
        }
    }
    .education-container {
        .course-container {
            margin: 30px auto;
            line-height: 2rem;

            .course-title {
                color: $main;    
            }

            .course-degree {
                font-weight: 700;
            }

            .course-school {
                font-weight: 300;
                font-style: italic;
            }
        }
    }

    .volunteer-container {
        .voluntary-container {
            margin: 30px auto;
            line-height: 2rem;

            .volperiod {
                color: $main;
            }

            .vollocation {
                font-weight: 700;
            }
        }
    }
}

.description {
    font-style: italic;
    font-size: 0.9em;
}