.home-container {
    width: 75%;
    height: 90%;
    display: grid;
    grid-template: 1fr 1fr/100%;
    justify-items: center;
    align-items: center;

    .profile-container {
        padding-top: 50px;
        text-align: center;
        
        h2 {
            color: $main;
            font-size: 2em;
            margin-top: 1em;
        }

        h3 {
            color: $dark;
            font-weight: 400;
            font-size: 1em;
            margin-bottom: 1em;
        }
    }

    .intro-container {
        width: 100%;
        text-align: left;

        h3 {
            color: $dark;
        }

        .header {
            margin-bottom: 3em;
        }

        p {
            margin: 2em 0;
        }
    }
}

.profile-png {
    width: 100%;
    max-width: 200px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 0;

    svg {
        width: 2em;
        fill: $dark;
    }

    svg:hover {
        fill: $main;
    }
}