@import 'colors';
@import 'type';

.home-container {
    width: 75%;
    height: 90%;
    display: grid;
    grid-template: 1fr 1fr/100%;
    justify-items: center;
    align-items: center;
    text-align: center;

    .profile-container {
        padding-top: 50px;
        
        h2 {
            color: $main;
            font-size: 1.5em;
            margin-top: 1em;
        }

        h3 {
            color: $dark;
            font-weight: 400;
            font-size: 1em;
            margin-bottom: 1em;
        }

        p {
            color: $dark;
        }
    }

    .intro-container {
        width: 100%;
        text-align: center;
        
        h1 {
            font-size: 3rem;
            text-align: left;
        }

        h3 {
            text-align: left;
            font-size: 2rem;
            font-family: $lato;
            font-weight: 300;
        }

        .header {
            margin-bottom: 3em;
        }

        p {
            font-size: 1.5rem;
            font-family: $roboto-mono;
            margin: 2em 0;
        }
    }
}

.profile-png {
    width: 100%;
    max-width: 150px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 0;

    svg {
        width: 2em;
        fill: $dark;
    }

    svg:hover {
        fill: $main;
    }
}