// GENERAL STYLING
@import 'colors';

.skills-container {
    > div {
        margin-top: 50px;
    }
}

.other {
    h3 {
        margin-top: 20px;    
    }

    p {
        margin-top: 10px;
    }

    margin-bottom: 50px;
    padding-bottom: 100px;
}

.skill {
    width: 80%;
    max-width: 400px;
    margin: 25px 0;

    .bar {
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr)
    }

    .extra {
        font-style: italic;
    }

    .line {
        height: 8px;
        width: 80%;
        background: $main;
        opacity: 0.3;
        border-radius: 10px;
    }
    .line.active {
        background: $main;
        opacity: 1;
    }
}