@import 'colors';

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Roboto+Mono:300,300i,400,400i,700,700i&display=swap');

// Font variables
$roboto-mono: 'Roboto Mono', monospace;
$lato: 'Lato', sans-serif;

h1, h2, h3 {
    color: $main;
    font-family: $roboto-mono;
}

h2 {
    margin: 20px auto;
}

p {
    font-family: $roboto-mono;
}

div.menu-item > p {
    margin: 1em auto;
    font-family: $roboto-mono;
}