@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,700,700i&display=swap");
h1, h2, h3 {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 2em;
  color: #1F363D;
}

h2 {
  margin: 20px auto;
  color: #1F363D;
}

h3 {
  color: #51A3A3;
  font-weight: 400;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #1F363D;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: #51A3A3;
}

div.menu-item > p {
  margin: 1em auto;
  color: #CCDBDC;
}

.menu-items {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item {
  font-size: 8px;
  color: #CCDBDC;
  text-align: center;
}
.menu-item svg {
  width: 25px;
  fill: #CCDBDC;
  transition: all 0.5s ease;
}

.menu-item:hover {
  cursor: pointer;
}
.menu-item:hover svg {
  fill: #A7C4B5;
}

#active-menu .hidden {
  visibility: visible;
  opacity: 1;
  color: #51A3A3;
}
#active-menu svg {
  fill: #51A3A3;
}

.home-container {
  width: 75%;
  height: 90%;
  display: grid;
  grid-template: 1fr 1fr/100%;
  justify-items: center;
  align-items: center;
}
.home-container .profile-container {
  padding-top: 50px;
  text-align: center;
}
.home-container .profile-container h2 {
  color: #51A3A3;
  font-size: 2em;
  margin-top: 1em;
}
.home-container .profile-container h3 {
  color: #1F363D;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1em;
}
.home-container .profile-container .download-container {
  width: 60%;
  height: 30px;
  margin: 0 auto;
}
.home-container .profile-container .download-container button {
  width: 100%;
  height: 100%;
  background: none;
  color: #51A3A3;
  border: 1px solid #51A3A3;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.home-container .profile-container .download-container button .button-content span {
  padding-right: 10px;
}
.home-container .profile-container .download-container button .button-content svg {
  vertical-align: middle;
  width: 15px;
  fill: #51A3A3;
  transition: all 0.5s ease;
}
.home-container .profile-container .download-container button:hover {
  background: #51A3A3;
  color: #CCDBDC;
  cursor: pointer;
}
.home-container .profile-container .download-container button:hover svg {
  fill: #CCDBDC;
}
.home-container .intro-container {
  width: 100%;
  text-align: left;
  padding-bottom: 100px;
}
.home-container .intro-container h3 {
  color: #1F363D;
}
.home-container .intro-container .header {
  margin: 3em 0;
}
.home-container .intro-container p {
  margin: 2em 0;
}

.profile-png {
  width: 100%;
  max-width: 200px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5em 0;
}
.social-links svg {
  width: 2em;
  fill: #1F363D;
}
.social-links svg:hover {
  fill: #51A3A3;
}

.skills-container > div {
  margin-top: 50px;
}

.other {
  margin-bottom: 50px;
  padding-bottom: 100px;
}
.other h3 {
  margin-top: 20px;
}
.other p {
  margin-top: 10px;
}

.skill {
  width: 80%;
  max-width: 400px;
  margin: 25px 0;
}
.skill .bar {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.skill .extra {
  font-style: italic;
}
.skill .line {
  height: 8px;
  width: 80%;
  background: #51A3A3;
  opacity: 0.3;
  border-radius: 10px;
}
.skill .line.active {
  background: #51A3A3;
  opacity: 1;
}

.experience-container {
  display: grid;
  grid-template: 0.5fr 1fr 1fr 1fr/100%;
  grid-row-gap: 30px;
}
.experience-container .work-container .job-container {
  margin: 30px auto;
}
.experience-container .work-container .job-container .period {
  color: #51A3A3;
  font-weight: 300;
}
.experience-container .work-container .job-container .company {
  color: #51A3A3;
  font-weight: 700;
}
.experience-container .work-container .job-container .jobtitle {
  color: #1F363D;
  margin-top: 5px;
  font-weight: 700;
}
.experience-container .education-container {
  padding-bottom: 100px;
}
.experience-container .education-container .course-container {
  margin: 30px auto;
  line-height: 2rem;
}
.experience-container .education-container .course-container .course-title {
  color: #51A3A3;
}
.experience-container .education-container .course-container .course-degree {
  font-weight: 700;
}
.experience-container .education-container .course-container .course-school {
  font-weight: 300;
  font-style: italic;
}
.experience-container .volunteer-container .voluntary-container {
  margin: 30px auto;
  line-height: 2rem;
}
.experience-container .volunteer-container .voluntary-container .volperiod {
  color: #51A3A3;
}
.experience-container .volunteer-container .voluntary-container .vollocation {
  font-weight: 700;
}

.description {
  font-style: italic;
  font-size: 0.9em;
}

.portfolio-container div > h2 {
  margin-top: 70px;
}
.portfolio-container div:last-child {
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.contact-container {
  display: grid;
  grid-template: 0.5fr 1fr 1fr/100%;
  grid-row-gap: 30px;
}
.contact-container .feedback-container {
  display: none;
  text-align: center;
}
.contact-container .feedback-container #successMessage p {
  color: #51A3A3;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
.contact-container .form-container {
  font-family: "Roboto Mono", monospace;
  padding-bottom: 100px;
  margin-bottom: 50px;
  font-weight: 300;
}
.contact-container .form-container form {
  width: 100%;
  height: 100%;
}
.contact-container .form-container form > div {
  margin-top: 40px;
  display: grid;
  grid-template: 1fr/0.2fr 1fr;
  align-items: center;
}
.contact-container .form-container form > div input {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  padding-left: 5px;
  width: 99%;
  height: 25px;
  background: none;
  border: 1px solid #1F363D;
  transition: all 0.3s ease;
}
.contact-container .form-container form > div input:focus {
  outline: none;
  border: 1px solid #51A3A3;
  box-shadow: 0 0 3px #51A3A3;
}
.contact-container .form-container form > div:nth-last-child(2) {
  grid-template: 0.2fr 1fr/1fr;
  grid-row-gap: 10px;
}
.contact-container .form-container form > div:nth-last-child(2) textarea {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  height: 150px;
  background: none;
  border: 1px solid #1F363D;
  transition: all 0.5s ease;
  padding: 5px;
}
.contact-container .form-container form > div:nth-last-child(2) textarea:focus {
  outline: none;
  border: 1px solid #51A3A3;
  box-shadow: 0 0 3px #51A3A3;
}
.contact-container .form-container form > div:last-child {
  display: block;
}
.contact-container .form-container form > div:last-child button {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 300;
  height: 40px;
  width: 100%;
  background: none;
  border: 1px solid #1F363D;
  color: #1F363D;
  transition: all 0.5s ease;
  outline: none;
}
.contact-container .form-container form > div:last-child button:hover {
  color: white;
  border: none;
  background: #51A3A3;
  border: 1px solid #51A3A3;
  cursor: pointer;
}

.App {
  width: 100vw;
  height: 100vh;
}
.App .menu-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: #1F363D;
  color: #CCDBDC;
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
.App .content-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}
.App .content-container > div {
  width: 80%;
  height: 100%;
}
.App .content-container > div > div.page-header {
  margin-top: 50px;
}
.App .content-container > div > div.page-header p {
  margin-top: 20px;
}

@media (min-width: 850px) {
  .App {
    display: grid;
    grid-template: 100%/90px 1fr !important;
  }
  .App .menu-container {
    order: 1;
    position: inherit;
    height: 100%;
    align-items: center;
  }
  .App .menu-container .menu-items {
    height: 95%;
    display: flex;
    flex-direction: column;
  }
  .App .menu-container .menu-items .menu-item {
    font-size: 10px;
  }
  .App .menu-container .menu-items svg {
    width: 35px;
  }
  .App .content-container {
    order: 2;
    overflow: scroll;
    padding-bottom: 0;
  }
  .App .content-container .home-container {
    grid-template: 100%/1fr 1fr;
  }
  .App .content-container .home-container .profile-container {
    grid-column: 1/2;
    padding-top: 0;
  }
  .App .content-container .home-container .intro-container {
    grid-column: 2/3;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .App .content-container .home-container .intro-container p {
    text-align: right;
  }
  .App .content-container .skills-container {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    grid-row-gap: 50px;
  }
  .App .content-container .skills-container .page-header {
    grid-column: 1/3;
  }
  .App .content-container .skills-container > div {
    margin: 0;
  }
  .App .content-container .experience-container {
    grid-row-gap: 50px;
  }
  .App .content-container .experience-container .work-container, .App .content-container .experience-container .education-container, .App .content-container .experience-container .volunteer-container {
    display: grid;
    grid-template: 75px 1fr/1fr 1fr;
    grid-gap: 20px;
  }
  .App .content-container .experience-container .work-container h2, .App .content-container .experience-container .education-container h2, .App .content-container .experience-container .volunteer-container h2 {
    grid-column: 1/3;
    margin: 0;
    justify-self: start;
    align-self: end;
  }
  .App .content-container .experience-container .work-container div, .App .content-container .experience-container .education-container div, .App .content-container .experience-container .volunteer-container div {
    margin: 0;
  }
  .App .content-container .projects-container {
    padding-bottom: 0;
  }
  .App .content-container .form-container {
    padding-bottom: 0;
  }
  .App .content-container .form-container form {
    width: 70%;
    margin: 0 auto;
  }

  .menu-item .hidden {
    opacity: 0.1;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .menu-item:hover svg {
    fill: #A7C4B5;
  }
  .menu-item:hover .hidden {
    visibility: visible;
    opacity: 1;
    color: #A7C4B5;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #CCDBDC;
}

/*# sourceMappingURL=index.css.map */
